@keyframes spin{
    from {rotate: 0deg;}
    to{rotate: 360deg;}
}
body{
    background-color: chartreuse;
}
img {
    height: 200px;
    width: 400px;
    margin-top: 5px;
    border: solid blue 5px;
    margin-bottom: 5px;
}
#pi:hover{
    animation: spin 20s;
}
#pic{
    filter: invert(100%);
}
ul{
    list-style-type: circle;
    font: "ComicSans";
}